html,
* {
    margin: 0px;
}

body {
    background-color: whitesmoke;
}

ul {
    display: flex;
    background-color: black;
    border-bottom: 2px solid red;

}

li {
    list-style-type: none;
    padding: 10px;
    margin: 2px;
    color: whitesmoke;
    font-weight: bold;
}

h1 {
    text-align: center;
    padding: 100px;
}

.fse {
    margin: 100px;
    font-size: x-large;
}

.footer {
    bottom: 0px;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: black;
    padding: 10px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.escolha {
    display: flex;
    justify-content: center;
    margin: 40px;
}

input {
    padding: 2px;
}

form {
    display: flex;
}

table {
    border-collapse: collapse;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

select {
    margin: 20px;
    font-weight: bold;
    border: none;
    padding: 2px 5px;
    color: whitesmoke;
    background-color: #04AA6D;
}

button {
    border: none;
    margin: 20px;
    background-color: #bb4a4a;
    color: white;
    padding: 15px 32px;
}